* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

#details {
  width: 30%;
  height: 100vh;
  text-align: center;
}

#visualizer {
  width: 70%;
  height: 100vh;
  background-color: rgb(173, 236, 223);
  position: relative;
}

#article {
  padding: 15px 0;
}

#canvas1 {
  position: absolute;
  background-color: #f3fde8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
